<div class="row">
  <div class="col-md-10">
    
    <br></br>
    <div class="col-2 offset-5 table-active h4 text-center">Information</div>
      <p></p>
    <h5 class="text-center">Favospotに関する情報です。</h5>
    <h5 class="text-center">「当サイトについて」と「お気に入りの場所について」のご説明致します。</h5>
    <h6 class="text-center">Molique</h6>
    <br></br>

    <p></p>
      <table class="table table-borderless">
        <tr>
          <th>【1】お気に入りの場所とは</th>
        </tr>
        <tr>
          <td>お気に入りの場所の定義は人それぞれです。お家のソファやお店窓際の席、公園のベンチに至るまでたくさんあります。お気に入りの場所に定義はありません。あなたの大好きな場所を教えてください。ただし、個人情報が特定されるものに関する投稿は注意して下さい。</td>
        </tr>

        <tr>
          <th>【2】このサイトを開設した動機</th>
        </tr>
        <tr>
          <td>作者のお気に入りの場所は年々消滅傾向にあります。不景気や土地開発、時代の流れでお気に入りの場所がなくなる前にその姿を留めておきたいと思い立ったからです。このサイトを見てあそこは今どうなっているのかなと思い馳せていただければ嬉しいです。</td>
        </tr>

        <tr>
          <th>【3】このサイトの楽しみ方</th>
        </tr>
        <tr>
          <td>ユーザー登録後まずは色々なFavospotを見て下さい。なぜこの人はここが好きなのか少し立ち止まって考えてみると楽しいかもしれません。いいねやコメントもしてみて下さい。また、あなたのFavospotも教えて下さい。あなたのお気に入りの場所はきっと誰かのお気に入りの場所になるはずです。こんな場所があるんだと思ったら現地に赴くのも良いと思います。ただ寿命が短い場所もある為事前に調べてみて下さい。</td>
        </tr>

        <tr>
          <th>【4】最後に</th>
        </tr>
        <tr>
          <td>当サイトに掲載された情報に問題がある場合お手数をおかけいたしますがCONTACTフォームよりお問い合わせ下さい。把握次第適切に対処させていただきます。また他者への誹謗中傷や低俗で公共の場にそぐわない投稿などに関してもこちらで対応をさせていただく場合がございます。常識の範囲内での利用をお願い致します。</td>
        </tr>

        <tr>
          <td class="text-right">2020年7月7日 Molique.</td>
        </tr>
      </table>


  </div>
  <div class="row">
      <%= render 'posts/sidebar', user: @user, post: @post %>
  </div>
</div>

