


<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><strong>Attention</strong></h2>
      <p></p>
      <h5 class="text-center">Favospotに関する情報です。</h5>
      <h5 class="text-center">皆様ルールや思いやりを持ってFavospotを巡りましょう。</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p></p>
      <table class="table table-borderless">
        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>


        <tr>
          <th>住所</th>
          <td>長野県長野市大字南長野幅下６９２−２</td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>04-1111-1111</td>
        </tr>

        <tr>
          <th>営業時間</th>
          <td>9:00～20:00</td>
        </tr>

        <tr>
          <th>代表</th>
          <td>香川真司</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>naganocake.lastlove@gmail.com</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p></p>
      <div class="main-image"></div>
    </div>
    <div class="col-6">
      <p></p>
      <table class="table table-borderless">
        <tr>
          <th>住所</th>
          <td>長野県長野市大字南長野幅下６９２−２</td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>04-1111-1111</td>
        </tr>

        <tr>
          <th>営業時間</th>
          <td>9:00～20:00</td>
        </tr>

        <tr>
          <th>代表</th>
          <td>香川真司</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>naganocake.lastlove@gmail.com</td>
        </tr>
      </table>
    </div>
  </div>

</div>