<div class="row">
  <div class="col-md-10">
    <h2 class="text-center"><strong>Attention</strong></h2>
      <p></p>
    <h5 class="text-center">Favospotに関する情報です。</h5>
    <h5 class="text-center">皆様ルールや思いやりを持ってFavospotを巡りましょう。</h5>

    <p></p>
      <table class="table table-borderless">
        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>

        <tr>
          <th>【1】事前に下調べをする</th>
        </tr>
        <tr>
          <td>寿命は短いです。すでに閉館・閉園していたりすることもあります。またオーナーがいきなりお休みをとってしまったり、閉館時間が異常に早かったり、予約が必要な場合も。必ず事前に問い合わせましょう。</td>
        </tr>
      </table>


  </div>
  <div class="row">
      <%= render 'posts/sidebar', user: @user, post: @post %>
  </div>
</div>

