
<div class="row">
  <div class="col-md-10">

    <section class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <div class="row">
            <div class="col-5 offset-5 table-active h4 text-center">ALL USERS</div>
          </div>
        </div>
      </div>
    </section>



    <section class="section">
      <div class="container">
        <div class="col-12">
          <div class="col">
            <div class="row">
        	     <% @users.each do |user| %>
        		    <div class="card">
                  <div class="card-imag">
                    <div class="float-center" , style="padding: 1px;">

                      <figure class="image">
                        <%= link_to user_path(user) do %>
                          <div class="float-left" , style="padding: 10px;">
        					         <%= attachment_image_tag user, :profile_image, class: " pull-left profile-img", fallback: "noimage.png" , size:"100x100"%>
                          </div>
      		              <% end %>
      				        </figure>
                    </div>
                  </div>
                </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        
                      </div>
                    </div>
                  </div>
                  
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<table class="table is-fullwidth">
  <tr>
    <td>
    </td>
  </tr>
</table>


