// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 80%);
}

.comment {
    font-size: 12px;
}

.comment-text {
	width: 90px;
}